@charset "UTF-8";

.cell-center {
    text-align: center;
}

.filler {
    flex-grow: 1;
    width: 100%;
}

.masterpiece {
    color: brown !important;
}

.mythic {
    color: red !important;
}

.rare {
    color: gold !important;
}

.uncommon {
    color: darkgray !important;
}

.common {
    color: black !important;
}