@charset "UTF-8";

.cell-center {
    text-align: center;
}

.masterpiece {
    color: brown !important;
}

.mythic {
    color: red !important;
}

.rare {
    color: gold !important;
}

.uncommun {
    color: darkgray !important;
}

.commun {
    color: black !important;
}