@charset "UTF-8";

tr.selected {
  color: #fff;
  background-color: darkgray !important;
}

.cell-center {
    text-align: center;
}

.cell-align-right {
    text-align: right;
}

.spaced {
    margin-right: 7px;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
}

.context-menu--active {
    display: block;
}

.filler {
    flex-grow: 1;
    width: 100%;
}

.masterpiece {
    color: brown !important;
}

.mythic {
    color: red !important;
}

.rare {
    color: gold !important;
}

.uncommon {
    color: darkgray !important;
}

.common {
    color: black !important;
}